<p>Bonjour <%= @lesson.user.email %>,</p>
<p> Merci pour le paiement des arrhes pour votre stage. Votre stage est validé.</p>
<p>Premier jour de stage <%= "#{@lesson.start.day}/#{@lesson.start.month}/#{@lesson.start.year}" %>, pour une durée de <%= "#{@lesson.duration}" %> jours.</p>
<p>Cordialement</p>
<p><%= @full_name %></p>
<p>email: <%= @lesson.user.email ? @lesson.user.email : ENV['EMAIL']%></p>
<p>téléphone: <%= @lesson.user.phone ? @lesson.user.phone : ENV['TELEPHONE']%></p>
