<div class="container">
  <div class="row">

    <!-- LAPTOP -->
    <div class="hidden-xs hidden-sm col-md-12">
      <div class="top-info">
        <h2 class="compte-head">Compte utilisateur: <%=current_user.email%></h2>
        <p>Configurez votre boutique à l'aide des champs données et photos ci-dessous. <%= link_to " Ou accédez directement à la démo de la boutique en ligne.", home_path %> </p>
      </div>

      <div class="col-xs-3 left-nav">
        <div class="user-info">
          <h2 class="compte-head">Vos données</h3>
          <%= simple_form_for @user do |f| %>
            <% @user.first_name ? fname_print = @user.first_name : "" %>
            <% @user.last_name ? lname_print = @user.last_name : "" %>
            <% @user.produit ? produit_print = @user.produit : "" %>
            <div class="form-inputs user-inputs">
              <%= f.input :first_name, label: "Prénom: #{fname_print}" %>
              <%= f.input :last_name, label: "Nom: #{lname_print}" %>
              <%= f.input :produit, label: "Produit: #{produit_print}", hint: "Exemples: Luminaires, Sculptures, etc." %>
            </div>
            <div class="form-actions info-perso">
              <%= f.button :submit, "Enregistrer", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
        <div id="slider" class="demo-bloc">
          <%= link_to home_path, class: "btn btn-primary" do %>
            VOIR VOTRE BOUTIQUE
          <% end %>
          <p>N'oubliez pas d'enregistrer vos photos</p>
        </div>
      </div>

  <!-- <div class="simulate-lg col-md-9">
    <iframe class="iframe " title="exemple 1 avec iframe" src="http://localhost:3000/home" width="100%" height="300"></iframe>
  </div> -->

      <div class="col-xs-9 photos-container">
        <h2 class="compte-head">Personnalisez la boutique avec vos photos</h2>
        <h3>Vous pouvez ajouter une photo pour chaque caractéristique ci-dessous (cliquez sur le +).</h3>

      <% info = [
        [current_user.productphoto? ? current_user.productphoto.path : nil, "homeview.jpg", "Image d'accueil", :productphoto, "Utilisez une image aux dimensions d'une photo standard", current_user.productphoto],
        [current_user.avatarphoto? ? current_user.avatarphoto.path : nil, "bio.jpg", "Photo pour la page bio", :avatarphoto, "Utilisez une image aux dimensions carrées", current_user.avatarphoto],
        [current_user.productphotomobile? ? current_user.productphotomobile.path : nil, "mobileview.jpg", "Image d'accueil pour mobiles", :productphotomobile, "Utilisez une image 'verticale'", current_user.productphotomobile],
        [current_user.lessonphoto? ? current_user.lessonphoto.path : nil, "lessonview.jpg", "Image pour les stages", :lessonphoto, "Utilisez une image aux dimensions d'une photo standard", current_user.lessonphoto],
        [current_user.cityphoto? ? current_user.cityphoto.path : nil, "cityview.jpg", "Image pour votre ville", :cityphoto, "Utilisez une image aux dimensions d'une photo standard", current_user.cityphoto],
        [current_user.logophoto? ? current_user.logophoto.path : nil, "logoview.jpg", "Image pour votre logo", :logophoto, "Utilisez une image aux dimensions carrées", current_user.logophoto],
      ]
      %>

        <%= simple_form_for @user do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <% for i in 0..(info.size - 1) %>
            <% if i == 0 || i == 2 || i == 4%>
               <div class="row">
             <% end %>
              <div class="col-xs-6 photos-card-container">
                <div id="card<%=i%>" class="photos-card">
                  <div class="user-photo" id="button<%=i%>">
                    <% if info[i][0] %>
                      <% if (info[i][5].width + 0.0) / info[i][5].height > 1.51838 %>
                        <%= cl_image_tag info[i][0], class: "card-photo-horizontale" %>
                      <% else %>
                        <%= cl_image_tag info[i][0], class: "card-photo-verticale" %>
                      <% end %>
                    <% else %>

                      <%= image_tag info[i][1], class: "card-photo #{info[i][6] ? info[i][6] : ""}"%>
                    <% end %>
                  </div>
                  <div class="add-photo add-photo<%=i%>">
                    <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                    <span><%= info[i][2]%></span>
                  </div>
                  <div class="input input<%=i%> hidden">
                    <button class="btn btn-primary floppy" type="submit" name="button" value="button<%=i%>">
                      <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    </button>
                    <p class="input-info"><%= info[i][4]%></p>
                    <%= f.input info[i][3], as: :attachinary, label: false%>
                    <div class="progress hidden">
                      <%= f.button :submit, "", class: "button-in-card" %>
                    </div>
                  </div>
                </div>
              </div>
              <% if i == 1 || i == 3 || i == 5 %>
                </div>
              <% end %>
            <% end %>
          </div>

        <% end %>
      </div>
    </div>

    <!-- MOBILE -->
    <div class="hidden-md hidden-lg col-xs-12">
      <div class="top-info-mobile">
        <h2 class="compte-head">Compte utilisateur: <%=current_user.email%></h2>
        <p>Configurez votre boutique à l'aide des champs données ci-dessous.</p>
        <p><%= link_to " Ou accédez directement à la démo de la boutique en ligne.", home_path %></p>
      </div>

      <div class="user-info-mobile">
        <h2 class="compte-head">Vos données</h3>
        <%= simple_form_for @user do |f| %>
          <div class="form-inputs user-inputs">
            <%= f.input :first_name, label: "Prénom" %>
            <%= f.input :last_name, label: "Nom" %>
            <%= f.input :produit, autofocus: true, hint: "Exemples: Luminaires, Sculptures, etc." %>
          </div>
          <div class="form-actions info-perso">
            <%= f.button :submit, "Mettre à jour", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
      <div id="slider" class="demo-bloc-mobile">
        <%= link_to home_path, class: "btn btn-primary" do %>
          VOIR VOTRE BOUTIQUE
        <% end %>
      </div>
    </div>

  </div>
</div>
