<!-- LAPTOP -->
<div class="hidden-xs hidden-sm">
  <% if user_signed_in? && params[:action] != "offerpresentation" %>
  <div class="offernavbar-devise">
    <%= render  "shared/logo_home" %>
    <div class="offer-bar-list-devise">
      <%= link_to "Démo", home_path, title: "Page d'accueil de votre boutique en ligne" %>
      <%= link_to "Infos", root_path(anchor: "anchor-info"), title: "Consulter notre offre de boutique en ligne" %>
      <%= link_to "Fonctionnalités", product_claim_details_path, title: "Les fonctionnalités de notre boutique en ligne" %>
      <%= link_to "Configuration", user_path(current_user), title: "Créer un compte pour configurer votre boutique en ligne" %>
    </div>
  </div>
  <% elsif user_signed_in? && (params[:action] = "offerpresentation")%>
    <div class="top-space"></div>
    <div class="offernavbar">
      <%= render  "shared/logo_home" %>
      <div class="offer-bar-list">
        <%= link_to "Démo", home_path, title: "Page d'accueil de votre boutique en ligne" %>
        <%= link_to "Infos", root_path(anchor: "anchor-info"), title: "Consulter notre offre de boutique en ligne" %>
        <%= link_to "Fonctionnalités", product_claim_details_path, title: "Les fonctionnalités de notre boutique en ligne" %>
        <%= link_to "Configuration", user_path(current_user), title: "Créer un compte pour configurer votre boutique en ligne" %>
      </div>
    </div>
  <% elsif params[:controller] == "app_specific_registration/registrations" || params[:controller] == "devise/sessions" || params[:controller] == "users" %>
    <div class="offernavbar-devise">
      <%= render  "shared/logo_home" %>
      <div class="offer-bar-list-devise">
        <%= link_to "Démo", home_path, title: "Page d'accueil de votre boutique en ligne" %>
        <%= link_to "Infos", root_path(anchor: "anchor-info"), title: "Consulter notre offre de boutique en ligne" %>
        <%= link_to "Fonctionnalités", product_claim_details_path, title: "Les fonctionnalités de notre boutique en ligne" %>
        <%= link_to "Connexion", new_user_session_path, title: "Configurer votre boutique en ligne" %>
        <%= link_to "Inscription", new_user_registration_path, title: "Créer un compte pour configurer votre boutique en ligne" %>
      </div>
    </div>
  <% else %>
  <div class="top-space"></div>
  <div class="offernavbar">
    <%= render  "shared/logo_home" %>
    <div class="offer-bar-list">
      <%= link_to "Démo", home_path, title: "Page d'accueil de votre boutique en ligne" %>
      <%= link_to "Infos", root_path(anchor: "anchor-info"), title: "Consulter notre offre de boutique en ligne" %>
      <%= link_to "Fonctionnalités", product_claim_details_path, title: "Les fonctionnalités de notre boutique en ligne" %>
      <%= link_to "Connexion", new_user_session_path, title: "Configurer votre boutique en ligne" %>
      <%= link_to "Inscription", new_user_registration_path, title: "Créer un compte pour configurer votre boutique en ligne" %>
    </div>
  </div>
  <% end %>
</div>

<!-- MOBILE -->
<div class="hidden-md hidden-lg">
  <% if params[:action] != "offerpresentation" %>
    <div class="offernavbar-devise">
      <div class="offer-bar-list-devise">
        <%= link_to "Démo", home_path, title: "Page d'accueil de votre boutique en ligne" %>
        <%= link_to "Infos", root_path(anchor: "anchor-info"), title: "Consulter notre offre de boutique en ligne" %>
        <%= link_to "Fonctionnalités", product_claim_details_path, title: "Les fonctionnalités de notre boutique en ligne" %>
      </div>
    </div>
  <% else %>
    <div class="top-space"></div>
    <div class="offernavbar">
      <div class="offer-bar-list">
        <%= link_to "Démo", home_path, title: "Page d'accueil de votre boutique en ligne" %>
        <%= link_to "Info", root_path(anchor: "anchor-info"), title: "Consulter notre offre de boutique en ligne" %>
        <%= link_to "Fonctionnalités", product_claim_details_path, title: "Les fonctionnalités de notre boutique en ligne" %>
      </div>
    </div>
  <% end %>
</div>
