<% if params[:controller] == "app_specific_registration/registrations" || params[:controller] == "devise/sessions" || params[:controller] == "users" %>
  <div class="offernavbar-devise">
    <div class="offer-bar-list-devise">
      <%= link_to "Accueil", root_path, title: "Accueil de notre offre de boutique en
    ligne" %>
      <%= link_to "Fonctionnalités", product_claim_details_path, title: "Les fonctionnalités de notre boutique en ligne", class: "hidden-xs hidden-sm"   %>
      <%= link_to "Infos", product_claim_details_path, title: "Les fonctionnalités de notre boutique en ligne", class: "hidden-md hidden-lg"   %>
      <%= link_to "Réalisations", realisations_path, title: "Les boutiques que nous avons créées" %>
      <%= link_to "Démo", home_path, title: "Boutique en ligne de démonstration", class: "hidden-xs hidden-sm"  %>
      <%= link_to "Contact", contact_form_path, title: "Contactez-nous" %>
      <%= link_to "Inscription", new_user_registration_path, title: "Créer un compte pour configurer votre boutique en ligne", class: "hidden-xs hidden-sm"  %>
      <%= link_to "Connexion", new_user_session_path, title: "Configurer votre boutique en ligne", class: "hidden-xs hidden-sm"  %>
    </div>
  </div>
<% else %>
  <div class="top-space"></div>
  <div class="offernavbar">
    <div class="offer-bar-list">
      <%= link_to "Accueil", root_path, title: "Accueil de notre offre de boutique en
      ligne" %>
      <%= link_to "Fonctionnalités", product_claim_details_path, title: "Les fonctionnalités de notre boutique en ligne", class: "hidden-xs hidden-sm"   %>
      <%= link_to "Infos", product_claim_details_path, title: "Les fonctionnalités de notre boutique en ligne", class: "hidden-md hidden-lg"   %>
      <%= link_to "Réalisations", realisations_path, title: "Les boutiques que nous avons créées" %>
      <%= link_to "Démo", home_path, title: "Boutique en ligne de démonstration", class: "hidden-xs hidden-sm"  %>
      <%= link_to "Contact", contact_form_path, title: "Contactez-nous" %>
      <%= link_to "Inscription", new_user_registration_path, title: "Créer un compte pour configurer votre boutique en ligne", class: "hidden-xs hidden-sm" %>
      <%= link_to "Connexion", new_user_session_path, title: "Configurer votre boutique en ligne", class: "hidden-xs hidden-sm"  %>
    </div>
  </div>
<% end %>
