<% content_for(:description) do %>
Vendez vos produits en ligne ! Site de e-commerce configurable. Créez votre compte et visualisez votre futur site de vente en ligne de vos produits.
<% end %>
<% content_for(:title_tag) do %>
  Créer votre boutique en ligne: page d'accueil de votre site.
<% end %>

<% homepicpath = image_path ENV['HOMEPIC'] %>
<% homepicpathmobile = image_path ENV['HOMEPICMOBILE'] %>
<% if user_signed_in? %>
  <% if  current_user.productphoto.present? %>
    <% homepicpath = cl_image_path current_user.productphoto.path %>
  <% end %>
  <% if  current_user.productphotomobile.present? %>
    <% homepicpathmobile = cl_image_path current_user.productphotomobile.path %>
  <% end %>
<% end %>

<div class="jumbotron">
  <style>
  .jumbotron .banner {
  background-image: linear-gradient(135deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= homepicpath %>);
  }
  .jumbotron .banner-xs {
  background-image: linear-gradient(135deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.4) 50%), url(<%= homepicpathmobile %>);
  }
  </style>

<!-- LAPTOP -->
  <div class="hidden-xs hidden-sm">
    <div class="banner">

      <div class="h1-home">
        <div class="white-div"></div>
        <div class="list-h1">
          <i class="fa fa-info-circle info-circle" aria-hidden="true"></i>
          <h1>Page d'accueil personnalisable de la boutique en ligne.</h1>
          <i class="fa fa-times cross-1"></i>
        </div>
        <p><%= link_to "Inscrivez-vous", new_user_registration_path, class: "link-account" %> pour personnaliser la page d'accueil.</p>
      </div>

      <div class="h1-home-2">
        <div class="white-div"></div>
        <div class="list-h1">
          <i class="fa fa-info-circle info-circle" aria-hidden="true"></i>
          <h2>Contactez nous pour un devis</h1>
          <i class="fa fa-times cross-2"></i>
        </div>
        <p>Cette boutique est la base de notre offre, nous pouvons l'étoffer selon vos besoins. Contactez nous pour revoir votre projet ensemble.</p>
        <p>Tel: 06.85.47.68.48</p>
        <p>gcrouillere@hotmail.fr</p>
      </div>

      <div class="banner-content">
        <% if user_signed_in? && current_user.produit %>
          <h2><%= @model_string.capitalize%></h2>
          <p><%= "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}" %></p>
          <%= link_to "Voir les #{@model_string}", ceramiques_path, class: "btn btn-primary btn-lg" %>
        <% else %>
          <h2><%= ENV['MODEL'].capitalize%></h2>
          <p><%= "#{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}" %></p>
          <%= link_to "Voir les #{ENV['MODEL']}", ceramiques_path, class: "btn btn-primary btn-lg" %>
        <% end %>
      </div>
    </div>
  </div>

<!-- MOBILE -->
  <div class="hidden-md hidden-lg">
    <div class="banner-xs">

      <div class="h1-home-mobile">
        <div class="logo-container">
          <h1>Page d'accueil de la boutique en ligne.</h1>
          <i class="fa fa-times cross cross-1"></i>
        </div>
        <p><%= link_to "Inscrivez-vous", new_user_registration_path, class: "link-account" %> pour personnaliser la page d'accueil.</p>
      </div>

      <div class="banner-content-xs">
          <% if user_signed_in? && current_user.produit && current_user.produit != "" %>
            <h2><%= current_user.produit.capitalize%></h2>
            <p><%= "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}" %></p>
            <%= link_to "Voir les #{current_user.produit}", ceramiques_path, class: "btn btn-primary btn-lg" %>
          <% else %>
            <h2><%= ENV['MODEL'].capitalize%></h2>
            <p><%= "#{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}" %></p>
            <%= link_to "Voir les #{ENV['MODEL']}", ceramiques_path, class: "btn btn-primary btn-lg" %>
          <% end %>
      </div>

    </div>
  </div>

</div>

<% content_for(:after_js) do %>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "ArtGallery",
    "name": "Les <%="#{ENV['MODEL']} de #{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}"%>",
    "description": "Online craft store",
    "openingHours": "Mo-Fr 09:00-18:00",
    "telephone": "<%= ENV['TELEPHONE']%>",
    "url": "https://<%= ENV['APPNAME']%>.herokuapp.com/",
    "image":"https://<%= ENV['APPNAME']%>.herokuapp.com<%= image_path ENV['HOMEPIC']%>",
    "address":"<%= ENV['ADDRESS']%>",
    "priceRange":"20€ à 800€"
  }
  </script>
<% end %>
