<% content_for(:description) do %>
<% end %>
<% content_for(:title_tag) do %>
<% end %>


<div class="offer-container">
  <div class="container padding-container-user-show">
    <div class="row">

<!-- LAPTOP -->
        <div class="hidden-xs hidden-sm col-md-12">
        <h1>Vendez vos créations en ligne</h1>
        <h2>Créez une boutique avec notre agence</h2>
          <div class="offer-cards">
            <%= link_to ceramiques_path do %>
              <div class="produit card-offer">
                <h2>Vendez vos produits</h2>
                <div class="card-separator">
                  <%= image_tag 'commerce.png', class: "offer-card-image"%>
                  <hr>
                </div>
                <p>Créez vos fiches produits</p>
                <p>Gérer vos stocks</p>
                <p>Visualiser vos commandes</p>
              </div>
            <% end %>
            <%= link_to new_lesson_path do %>
              <div class="stage-info card-offer">
                <h2>Accueillez vos clients</h2>
                <div class="card-separator">
                  <%= image_tag 'time.png', class: "offer-card-image"%>
                  <hr>
                </div>
                <p>Proposez des stages/visites</p>
                <p>Gérer votre calendrier</p>
                <p>Visualiser les réservations</p>
              </div>
            <% end %>
            <%= link_to info_path do %>
              <div class="ecrire card-offer">
                <h2>Partagez</h2>
                <div class="card-separator">
                  <%= image_tag 'website.png', class: "offer-card-image"%>
                  <hr>
                </div>
                <p>Ecrivez sur votre métier</p>
                <p>Partagez votre technique</p>
                <p>Populariser votre boutique</p>
              </div>
            <% end %>
          </div>
          <div class="offer-buttons">
            <%= link_to home_path do %>
              <button type="submit" class="pull-right btn explore">DEMO D'UNE BOUTIQUE</button>
            <% end %>
            <% if user_signed_in? %>
            <%= link_to user_path(current_user) do %>
                <button type="submit" class="pull-right btn compte">CREEZ VOTRE PROJET DE BOUTIQUE EN 3 CLICS</button>
              <% end %>
            <% else %>
              <%= link_to new_user_registration_path do %>
                <button type="submit" class="pull-right btn compte">CREEZ VOTRE PROJET DE BOUTIQUE EN 3 CLICS</button>
              <% end %>
            <% end %>
          </div>
        </div>

<!-- MOBILE -->
        <div class="col-xs-12 hidden-md hidden-lg">
          <h1 class="offer-h1">Vendez vos créations</h1>
          <h2>Créez une boutique avec nous</h2>
          <div class="col-xs-12 col-sm-offset-1 col-sm-10">
            <div class="offer-cards-mobile">
              <div class="produit card-offer">
                <h2>Vendez vos produits</h2>
                <div class="card-separator">
                  <%= image_tag 'commerce.png', class: "offer-card-image"%>
                  <hr>
                </div>
                <p>Créez vos fiches produits</p>
                <p>Gérer vos stocks</p>
                <p>Visualiser vos commandes</p>
              </div>
              <div class="stage-info card-offer">
                <h2>Accueillez vos clients</h2>
                <div class="card-separator">
                  <%= image_tag 'time.png', class: "offer-card-image"%>
                  <hr>
                </div>
                <p>Proposez des stages/visites</p>
                <p>Gérer votre calendrier</p>
                <p>Visualiser les réservations</p>
              </div>
              <div class="ecrire card-offer">
                <h2>Partagez</h2>
                <div class="card-separator">
                  <%= image_tag 'website.png', class: "offer-card-image"%>
                  <hr>
                </div>
                <p>Ecrivez sur votre métier</p>
                <p>Partagez votre technique</p>
                <p>Populariser votre boutique</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-offset-1 col-sm-10">
            <div class="offer-buttons-mobile">
              <%= link_to home_path do %>
                <button type="submit" class="btn explore">DEMO D'UNE BOUTIQUE</button>
                <button type="submit" class="btn compte">CREEZ VOTRE BOUTIQUE EN 3 CLICS</button>
              <% end %>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>

<!-- <div class="offer-info">
  <h2></h2>
</div>
 -->
