<% content_for(:description) do %>
Créer votre boutique en ligne. Créez votre compte et visualisez votre futur site de vente en ligne de vos produits: ecommerce configurable.
<% end %>
<% content_for(:title_tag) do %>
  Créer votre boutique en ligne. Liste des produits à vendre.
<% end %>

<div class="container">
  <div class="row">

<!-- LAPTOP -->
    <div class="hidden-xs hidden-sm col-md-12 list-header">
      <div class="white-div"></div>
      <div class="list-h1">
        <div class="block1">
          <i class="fa fa-info-circle info-circle" aria-hidden="true"></i>
          <h1>Créer votre boutique en ligne : liste des produits à vendre.</h1>
        </div>
        <i class="fa fa-times cross"></i>
      </div>
      <p>Les produits affichés sont des exemples. Créer les votres dans la partie administration. Vous pourrez ensuite les visualiser comme vos futurs clients. Créer un compte pour accéder à l'administration.</p>
    </div>

    <div class="hidden-xs hidden-sm col-md-3 search-bar">
      <div class="ceramique-filters-content">
        <h2>Rechercher</h2>
        <form action="/<%=ENV['MODEL']%>" method='get'>
          <div class="category-filter filter">
            <h3>Categories</h3>
            <div class="filter-category">
              <ul>
                <% @categories.each do |category| %>
                  <li><label class="label-search"><input type="checkbox" name="categories[]" value="<%= category %>"><%= category %></label></li>
                <% end %>
              </ul>
              <h3>Prix max €</h3>
              <label class="label-search"><input type="number" name="prix_max" min="0" class="prix"></label>
            </div>
            <% if  params[:categories].present? || params[:prix_max].present? %>
              <label class="label-search all"><input type="checkbox" name="all[]" value="all">Tout afficher</label>
            <% end %>
            <input type="submit" class="btn btn-primary recherche" value="OK">
          </div>
        </form>
      </div>
    </div>

    <div class="hidden-xs hidden-sm col-md-9 ceramique-list">
      <% @ceramiques.each do |ceramique| %>
          <div class="col-xs-6">
            <%= link_to ceramique_path(ceramique), class: "cardlink", title: "#{ceramique.name}: lien vers la fiche produit" do %>
              <div class="ceramiquecard">
                <div class="img-container">
                  <% if ceramique.photos[0].height >= ceramique.photos[0].width %>
                    <%= cl_image_tag(cl_image_path(ceramique.photos[0].path, :width => 285, :height => 285, :crop => :fit), class: "img-resized", alt: ceramique.name ) %>
                  <% else %>
                    <img class="img" src="<%= cl_image_path ceramique.photos[0].path %>" alt="<%= ceramique.name%>">
                  <% end %>
                  <h2 class="prix-index"><%= humanized_money(ceramique.price)%> <%= currency_symbol %></h2>
                </div>
                <h2> <%= ceramique.name.capitalize%> </h2>
                <p> <%= ceramique.description%> </p>
              </div>
            <% end %>
          </div>
      <% end %>
    </div>

<!-- MOBILE -->
<div class="hidden-md hidden-lg col-xs-12 col-md-12 ceramique-list">
  <div class="list-header list-header-mobile">
    <div class="list-h1">
      <h1>Créer votre boutique en ligne accessible sur mobile.</h1>
    </div>
    <p>Liste des produits à vendre. Les produits affichés sont des exemples. Pour créer les votres, utilisez un ordinateur et accédez à la partie administration. </p>
    <span class="cross-mobile"><i class="fa fa-times"></i></span>
  </div>
      <% @ceramiques.each do |ceramique| %>
          <div class="col-xs-12">
            <%= link_to ceramique_path(ceramique), class: "cardlink" do %>
              <div class="ceramiquecard mobile">
                <div class="img-container">
                  <img class="img" src="<%= cl_image_path ceramique.photos[0].path %>">
                  <h2 class="prix-index"><%= humanized_money(ceramique.price)%> <%= currency_symbol %></h2>
                </div>
                <h2> <%= ceramique.name.capitalize%> </h2>
                <p> <%= ceramique.description%> </p>
              </div>
            <% end %>
          </div>
      <% end %>
    </div>

  </div>
</div>

<% content_for(:after_js) do %>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "ArtGallery",
    "name": "Les <%="#{ENV['MODEL']} de #{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}"%>",
    "description": "Online craft store",
    "openingHours": "Mo-Fr 09:00-18:00",
    "telephone": "<%= ENV['TELEPHONE']%>",
    "url": "https://<%= ENV['APPNAME']%>.herokuapp.com/",
    "image":"https://<%= ENV['APPNAME']%>.herokuapp.com<%= image_path ENV['HOMEPIC']%>",
    "address":"<%= ENV['ADDRESS']%>",
    "priceRange":"20€ à 800€"
  }
  </script>
<% end %>
