<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= yield(:title_tag).blank? ? meta_title : yield(:title_tag) %></title>
    <meta name="description" content="<%= (yield(:description) || meta_description).squish %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_product_name %>" />

    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <meta name="google-site-verification" content="v6l89V9vrshQNOTxoFGZIg_cAdFHeUFHLdx-FAF2yB8" />
    <meta name="msvalidate.01" content="A2005042705811D0F9A1F93173061E82" />

    <link rel="canonical" href="https://www.creermonecommerce.fr" />

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107498853-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-107498853-1');
    </script>
  </head>
  <body>
    <div class="body-offer">
      <%= render 'shared/offernavbar' %>
      <%= render 'shared/flashes' %>
      <div class="offer-content">
        <%= yield %>
      </div>
      <%= render 'shared/offerfooter' %>

      <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
      <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
      <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>

      <%= javascript_include_tag 'application' %>
      <%= cloudinary_js_config %>

      <%= yield(:after_js) %>
    </div>
  </body>
</html>
